.table-contatos {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.novoc {
  color: #000000;
  text-decoration: none;
  border: 2px solid black !important;
  border-radius: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #f8f8f8;
  margin: 10px;
}

.cadastro {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formcadas {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #000000;
}

th,
td {
  padding: 0.625em;
  text-align: center;
}

th {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
td {
  border: 1px solid #f8f8f8;
}

caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  caption {
    font-size: 1.3em;
  }

  thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  td:last-child {
    border-bottom: 0;
  }

  #contatos{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
  }
}
